# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb.meta

# Other
*.log
*.swp

.DS_Store